<!DOCTYPE html>
<html>

<head>
    <% include templates/head.ejs %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>

    .form-control{
        margin-bottom : 15px;
    }
    </style>
</head>

<body>

    <% include templates/navbar.ejs %>
        <div class="content-container">
            <div class="container-fluid">
                <h2 class="text-info">My Notes
                </h2>
                <form method="POST">

                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" name="video_name" value="<%= vs.name %>" id="exampleInputEmail1"> 

                    <label for="exampleInputEmail1" class="form-label">URL</label>
                    <a type="text" disabled class="form-control" name="video_url" href="<%= vs.url %>" id="exampleInputEmail1"><%= vs.url %></a>

                    <label for="exampleInputEmail1" class="form-label">Point</label>
                    <input type="number" class="form-control" name="rating" value="<%= video.rating %>" id="exampleInputEmail1">

                    <label for="exampleInputEmail1" class="form-label">Notes</label>
                    <textarea name="notes" id="texts" cols="30" rows="10"><%= video.notes %></textarea>


                    <button type="submit" class="btn btn-warning"><i class="fa fa-save mr-2" aria-hidden="true"></i>
                        Update Video
                    </button>

                    <a type="submit" class="btn btn-danger" href="/delete-video/<%= vs.id %>"><i class="fa fa-trash mr-2" aria-hidden="true"></i>
                        Delete Video
                    </a>

                </form>
            </div>
        </div>
</body>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("texts") });

</script>

</html>