<!DOCTYPE html>
<html>

<head>
  <% include templates/head.ejs %>
  <style>
     .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 35ch;
        }
  </style>
</head>

<body>
  <% include templates/navbar.ejs %>

    <div class="content-container">

      <div class="container-fluid">

        <div class="d-flex justify-content-between">
          <h3>Welcome to My Videos <i class="fa fa-camera"></i></h3>
          <button id="add" class="btn btn-info py-2" style="width: 200px;"><i class="fa fa-plus"></i>Add Video</button>

        </div>
        <hr>
        
        <div class="d-flex justify-content-between">
          
          <p>Hello, <%= name %> Your recent videos:</p>
          <div class="d-flex" style="align-items: center;">
            <input id="searchbox-input" type="text" class="form-control" placeholder="Filter" style="border: 1px solid black; width: 50ch;" >
          </div>
        </div>

        

          <div class="row">

            <% for(var k=0; k < videos.length; k++) { %>

                <div class="col-3 ssw">
                  <div onclick='document.location = "<%= videos[k].url %>"' class="card my-1">
                    <img class="card-img-top" src="https://img.youtube.com/vi/<%= videos[k].url.split('?v=')[1] %>/0.jpg"
                    alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text title">
                        <a href="<%= videos[k].url %>" style= "text-decoration: none; color:black">
                        <%= videos[k].title %>
                        </a>
                      </p>
                    </div>
                    <div class="card-footer">
                      <a href="/details/<%= videos[k].id %>" class="btn btn-success">Details</a>
                    </div>
                  </div>  
                </div>

              <% } %>
          </div>
      </div>
    </div>
</body>

<div class="modal bd-example-modal-lg  fade " id="modal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form method="POST" action="/add-video">
          <label for="exampleInputEmail1" class="form-label">Video Name</label>
          <input type="text" class="form-control" name="video_name" id="exampleInputEmail1">
          <label for="exampleInputEmail1" class="form-label">Video URL</label>
          <input type="text" class="form-control" name="video_url" id="exampleInputEmail1">
          <label for="exampleInputEmail1" class="form-label">Category</label>
          <select class="form-control" name="uuid">
            <option> </option>
            <% for(var i=0; i < categories.length; i++) { %>
              <option value="<%= categories[i].uuid %>">
                <%= categories[i].title %>
              </option>
              <% }%>
          </select>
          <button type="submit" class="btn btn-success mt-2">Add Video</button>
        </form>
      </div>

    </div>
  </div>
</div>

<script>

  $('#add').on('click', function () {
    $('#modal').modal('show');
  })

  $('#searchbox-input').on('keyup change', function () {
    console.log("asd")
    $('.card').show();
    $('.ssw').show();
    var filter = $(this).val(); // get the value of the input, which we filter on
    $('.content-container').find(".card-body:not(:contains(" + filter + "))").parent().css('display','none');
    $('.content-container').find(".card-body:not(:contains(" + filter + "))").parent().parent().css('display','none');

  });

</script>

</html>