<!DOCTYPE html>
<html>
  <head>
    <% include templates/head.ejs %>
  
  </head>

  <body>
    <% include templates/navbar.ejs %>

    <div class="content-container">

      <div class="container-fluid">

        <h3>Welcome to My Videos <i class="fa fa-camera"></i></h3>
        <hr>
        Hello, <%= name %> Your recent videos:
        <button id="add" class="btn btn-info"><i class="fa fa-plus"></i>Add Video</button>
        <table class="table table-striped my-4">

          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">URL</th>
              <th scope="col">Rating</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <% if (videos) { %>
          <tbody>
            <% for(var i=0; i < videos.length; i++) { %>
              <tr>
                <td>
                  <%= videos[i].name %>
                </td>
                <td>
                  <a href="<%= videos[i].url %>"><%= videos[i].url %></a> 
                </td>
                <td>
                  <%= videos[i].rating %>
                </td>
                <td>
                  <a href="/details/<%= videos[i].id %>" class="btn btn-success"><i class="fa fa-submit">Details</i></a>
                </td>
              </tr>
              <% } %>

          </tbody>
          <% } %>
        </table>
        
      </div>
    </div>
    </body>

    <div class="modal bd-example-modal-lg  fade " id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <form method="POST" action="/add-video">
                <label for="exampleInputEmail1" class="form-label">Video Name</label>
                <input type="text" class="form-control" name="video_name" id="exampleInputEmail1">
                <label for="exampleInputEmail1" class="form-label">Video URL</label>
                <input type="text" class="form-control" name="video_url" id="exampleInputEmail1">
                <button type="submit" class="btn btn-success mt-2">Add Video</button>
              </form>
            </div>

          </div>
        </div>
      </div>

    <script>
    
    $('#add').on('click',function(){
      $('#modal').modal('show');
    })


    </script>
</html>
